.container-about-outer{
    margin-bottom: 100px;
}

.header-image{
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: auto auto auto;
}

.about-header-images{
    width: 300px;
    border-radius: 8px;
}

.container-info{
   background-color:rgba(239, 242, 237, 0.3);
   backdrop-filter: blur(15px);
   box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.3) ;
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: auto auto;
    gap: 15px;
    padding: 25px;
    border-radius: 5px;
}


.conatiner-team-member{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto;
    margin-top: 50px;
}


@media (max-width: 999px) {
    .header-image{
        align-items: center;
        justify-content: center;
        grid-template-columns: auto auto;
        gap: 20px;
    }
    .container-info{
        grid-template-columns: auto;
    }
}

@media (max-width: 639px) {
    .about-header-images{
        width: 200px;
    }

}


@media (max-width: 433px) {
    .header-image{
        grid-template-columns: auto ;
        gap: 20px;
    }
}