.form-conatiner {
    background-color:rgba(239, 242, 237, 0.3);
    backdrop-filter: blur(15px);
     box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3) ;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
}

.text-box {
    height: 400px;
    resize: none;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid black;
    width: 100%;
}

.text-feild {
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid black;
}

.submit-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    margin: 0;
}

.submit-button {
    
    width: 120px;
    border-radius: 6px;
    padding: 6px;
    border: none;
    background-color: #A294F9;
    font-weight: bold;
    color: white;

}

.submit-button:hover {
    color:black;
}

.submit-button:active {
    opacity: 0.4;
}



@media (max-width: 993px) {

    .form-conatiner {
        margin-left: auto;
        margin-right: auto;
    }

    .text-box {
        height: 250px;
    }
    
}


@media (max-width: 441px) {
    .form-conatiner {
        width: 300px;
    }
    
}