
.conatiner-contact-outer{
    margin-bottom: 100px;
}

.conatiner-conatct{
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: auto ;
}

.header-info p{
    max-width: 900px;
}

.conatiner-info{
    display: grid;
    align-items: center;
    justify-content: space-around;
    grid-template-columns: auto auto;
    gap: 320px;
}

.left{
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto;
    gap: 30px;
}


.boder-box{
    background-color: aliceblue;
    width: 500px;
    padding: 25px;
    border-radius: 20px;
}

.boder-box:hover{
    background-color: rgb(131, 131, 255);
    transition: 0.8s;
}