/* CartProduct.css */

.cart-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  
  .cart-product-img {
    width: 100px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .cart-product-details {
    flex-grow: 1;
    margin-left: 15px;
  }
  
  .remove-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .remove-btn:hover {
    background-color: #d32f2f;
  }

  